<div class="layout layout--col">
  <div class="columns">
    <div class="column">
      <div class="title_bar">
        <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
        <span class="title">SF Muni</span>
        <span class="instance">{{ updated_at }}</span>
      </div>
      {% for stop in stops %}
        <div class="meta" style="margin-top: 8px;">{{ stop.stop_name }}</div>
        <table class="table table--gap-s">
          <thead>
            <tr>
              <th>Line</th>
              <th>Destination</th>
              <th>Next Departures</th>
            </tr>
          </thead>
          <tbody>
            {% for line in stop.lines %}
            <tr>
              <td class="bold">{{ line.line }}</td>
              <td>{{ line.destination }}</td>
              <td>
                {% if line.departures.size > 0 %}
                  {% for dep in line.departures %}{{ dep.minutes }}m{% unless forloop.last %}, {% endunless %}{% endfor %}
                {% else %}
                  --
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
</div>
